/* Order Table Styles */

table#orderTable {
   margin: 30px 0px 0px 45px;
   width: 65%;
   border-collapse: collapse;
   color: rgb(151, 151, 151);
}


form#order input {
   background-color: transparent;
   border: none;
   color: rgb(151, 151, 151);
   padding-right:10px;
}

table#orderTable td {
   height: 20px;
   vertical-align: top;
   padding-right: 30px;
  
}


form#order input#modelQty1,modelQty2,modelQty3 {
   width: 3em;
}

form#order input#modelName, form#order input#shippingType {
   width: 30em;
  
}

table#orderTable tr td:last-of-type input {
   text-align: right;
   border: none;
}

table#orderTable tr:nth-of-type(2) {
   border-bottom: 1px solid rgb(151, 151, 151);
}

table#orderTable tr:nth-of-type(2) td, table#orderTable tr:nth-of-type(4) td {
   padding-top: 15px;
}

table#orderTable tr:nth-of-type(4) td {
   border-bottom: 4px double rgb(151, 151, 151);
}

table#orderTable tr:last-of-type td {
   padding-top: 15px;
}

table#orderTable td.rightA {
   text-align: right;
   padding-right: 10px;
}



/* Credit Form Styles */

section#paySection {
 margin-left:300px;
}

section#paySection form#credit fieldset#cards {
   display: block;
   clear: left;
}

section#paySection p#footnote {
   font-size: 15px;
   text-align: left;
   margin-left: 50px;
}

section#paySection h1 {
   text-align: center;
   font-size: 50px;
  margin-right:300px;
  text-decoration:underline;
   
   font-weight: normal;
   color: rgb(57, 44, 28);
  
}

form#credit fieldset {
   border: none;
}


form#credit fieldset#cards label:first-of-type {
   text-align: right;
   margin-left: 50px;
}

form#credit legend {
   font-size: 1.3em;
   padding: 8px;
   width: 80%;
   text-align: left;
   margin-left: 50px;
   margin-bottom: 20px;
   color: rgb(57, 44, 28);
}


/* Input and Label Styles */

form#credit label {
   display: block;
   float: left;
   clear: left;
   font-size: 0.9em;
   margin-bottom: 20px;
   margin-right: 10px;
   width: 180px;
   text-align: right;
   color: rgb(57, 44, 28);
}


form#credit input {
   display: block;
   float: left;
   box-shadow: 0px 0px 15px white;
}

/* Radio Button Styles */

form#credit label.cardLabel {
   display: inline-block;
   float: none;
   width: auto;
}

form#credit fieldset#cards img {
   display: inline-block;
   margin-left: 5px;
   box-shadow: 0px 0px 10px rgb(124, 92, 54);
}


form#credit input[type='radio'] {
   display: inline-block;
   width: auto;
   float: none;
   clear: none;
}

form#credit fieldset#cards {
   text-align: left;
   margin-left: 50px;
}

form#credit input#cvc {
   width: 3em;
}

form#credit input#expDate {
   width: 5em;
}

form#credit input#subButton {
   display: block;
   width: 600px;
   height: 35px;
   margin: 15px 0px 10px 200px;
   background-color: rgba(202, 201, 201, 0.8);
   font-size: 1.3em;
   border-radius: 20px;
   float: none;
}

/* Valid and Invalid Styles */

input:invalid, input:focus:invalid {
   outline: none;
   background-color: rgba(221,147,148,0.2);
 }

input:valid, input:focus:valid {
   outline: none;
   background-color: none;
}
